@media (max-width: 767px){


/* --------------------------------------------- header ---------------------------------------------*/

body header {
    padding: 25px 50px;
}

header .nav-logo img{
    width: 70px;
    height: 30px;
}

header nav .nav-menu-icon{
    display: block;
}

header nav .nav-link, 
header nav .nav-bar{
    display: none;
}

header nav .nav-menu{
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    opacity: 0;
    transition: 0.5s;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}
  
header nav .nav-menu.open {
    width: 350px;
    opacity: 1;
}

header nav .nav-menu .nav-menu-bar{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    align-items: center;
} 

header nav .nav-menu .nav-menu-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

header nav .nav-menu .nav-menu-link ul li{
    padding: 15px;
    text-align: center;
}

header nav .nav-menu-link ul{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

header nav .nav-menu-link ul li a:hover{
    color: #000;
    text-decoration: none;
}

header nav .nav-menu-bar span{
    font-size: 25px;
}

header nav .nav-menu-bar a svg:hover{
    transform: scale(1.1);
}
 
/* --------------------------------------------- category --------------------------------------------- */

.category-title h3{
    font-size: 35px;
}

.category-title p{
    font-size: 18px;
    font-weight: 250;
}

.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-items .category-row{
    grid-template-columns: repeat(1, 0fr);
}

/* --------------------------------------------- arrivals --------------------------------------------- */

.arrivals-title h3{
    font-size: 35px;
}

.arrivals-title p{
    font-size: 18px;
    font-weight: 250;
}

.arrivals .arrivals-wrapper{
    margin: 0 10px 40px;
}

.arrivals .arrivals-wrapper .arrivals-slide-button{
    display: none;
}

.arrivals-list .arrivals-product{
    overflow: hidden;
}

.arrivals-list .arrivals-product-image img{
    min-width: 91vw;
    min-height: 60vh;
}

.arrivals .arrivals-product-info h3 {
    font-size: 20px;
}

.arrivals .arrivals-product-info p {
    font-size: 18px;
}

/* --------------------------------------------- trending --------------------------------------------- */

.trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trending-title{
    margin: 0 16px;
}

.trending-title h3{
    font-size: 35px;
}

.trending-title p{
    font-size: 18px;
}

.trending .trending-single img {
    width: 350px;
    height: 450px;
}

.trending .trending-single::before {
    width: 350px;
    height: 450px;
}

.trending .trending-single-contents h3 {
    font-size: 25px;
}

.trending .trending-single-contents p {
    font-size: 12px;
}

.trending .trending-double {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.trending .trending-double-contents::before {
    width: 170px;
    height: 250px;
}

.trending .trending-double-contents img {
    width: 170px;
    height: 250px;
}

.trending .trending-double-contents-info h3 {
    font-size: 15px;
}

.trending .trending-double-contents-info p {
    font-size: 8px;
}

/*----------------------------------------- footer -----------------------------------------*/

.footer{
    padding: 0px;
}

.footer-logo img{
    width: 70px;
    height: 30px;
    margin: 10px;
}

.footer .footer-link ul{
    font-size: 18px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer .footer-copyright p{
    font-size: 13px;
}

}