@media (max-width: 767px){
    
/* --------------------------------------------- category --------------------------------------------- */

.category-title h3{
    font-size: 35px;
}

.category-title p{
    font-size: 18px;
    font-weight: 250;
}

.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-items .category-row{
    grid-template-columns: repeat(1, 0fr);
}

/* --------------------------------------------- arrivals --------------------------------------------- */

.arrivals-title h3{
    font-size: 35px;
}

.arrivals-title p{
    font-size: 18px;
    font-weight: 250;
}

.arrivals .arrivals-wrapper{
    margin: 0 10px 40px;
}

.arrivals .arrivals-wrapper .arrivals-slide-button{
    display: none;
}

.arrivals-list .arrivals-product{
    overflow: hidden;
}

.arrivals-list .arrivals-product-image img{
    min-width: 91vw;
    min-height: 60vh;
}

.arrivals .arrivals-product-info h3 {
    font-size: 20px;
}

.arrivals .arrivals-product-info p {
    font-size: 18px;
}

/* --------------------------------------------- trending --------------------------------------------- */

.trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trending-title{
    margin: 0 16px;
}

.trending-title h3{
    font-size: 35px;
}

.trending-title p{
    font-size: 18px;
}

.trending .trending-single img {
    width: 350px;
    height: 450px;
}

.trending .trending-single::before {
    width: 350px;
    height: 450px;
}

.trending .trending-single-contents h3 {
    font-size: 25px;
}

.trending .trending-single-contents p {
    font-size: 12px;
}

.trending .trending-double {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.trending .trending-double-contents::before {
    width: 170px;
    height: 250px;
}

.trending .trending-double-contents img {
    width: 170px;
    height: 250px;
}

.trending .trending-double-contents-info h3 {
    font-size: 15px;
}

.trending .trending-double-contents-info p {
    font-size: 8px;
}

}