{%load static %}
<footer>
    <div class="footer">
        <div class="footer-logo">
            <a href="#home"><img src="{% static '/images/logo.png' %}" alt="" width="100" height="30"></a>
        </div>
        <div class="footer-link">
            <ul class="d-flex justify-content-center">
                <li><a href="#home">Home</a></li>
                <li><a href="#category">Category</a></li>
                <li><a href="#arrivals">Arrivals</a></li>
                <li><a href="#trending">Trending</a></li>
                {% url 'about' as url %}
                <li><a href="{{url}}">About Us</a></li>
                {% url 'contact' as url %}
                <li><a href="{{url}}">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-icon">
            <a href="https://www.instagram.com/wearvaultau"><i class="bi bi-instagram"></i></a>
            <a href="#facebook"><i class="bi bi-facebook"></i></a>
            <a href="#twitter"><i class="bi bi-twitter"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© 2024 <span> wear vault</span> | all rights reseved by <span>wear vault</span></p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static '/assets/js/script.js' %}"></script>
</body>

</html>