{% extends "base.html" %} 
{% block title %} Wear Vault | Payment Success {% endblock title %}
{% block content %}

<section id="payment-confirmation">
    <div class="payment-confirmation">
        <div class="payment-confirmation-icon">
            <svg width="100" height="100" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="12" fill="#4CAF50" />
                <path d="M9 12.5l2 2 4.5-4.5" stroke="#fff" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>

        <div class="payment-confirmation-contents">
            <h3>Success!</h3>
            <p>Your request has been processed successfully.</p>
            <span>You'll receive a confirmation email shortly.</span>
        </div>

        <div class="payment-confirmation-button">
            <a href="/">    
                <button>
                    RETURN HOME
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="2" d="M9 18l6-6-6-6" />
                    </svg>
                </button>
            </a>
        </div>
    </div>
</section>

{% endblock content %}