{% extends "base.html" %}
{% block title %} Wear Vault | Quick View {% endblock title %}
{% block content %}
{% load static %}

<section id="quick-view">
    <div class="quick-view">
        <div class="quick-view-images">
            <div class="quick-view-images-top">
                <img src="/media/{{ product.product_image_1 }}" alt="{{ product.product_name }}">
                <img src="/media/{{ product.product_image_2 }}" alt="{{ product.product_name }}">
            </div>

            <div class="quick-view-images-bottom">
                <img src="/media/{{ product.product_image_3 }}" alt="{{ product.product_name }}">
                <img src="/media/{{ product.product_image_4 }}" alt="{{ product.product_name }}">
                <img src="/media/{{ product.product_image_5 }}" alt="{{ product.product_name }}">
            </div>
        </div>

        <div class="quick-view-info">
            <h3>{{ product.product_name }}</h3>
            <p class="quick-view-info-price">$ {{ product.product_price }}</p>
            <p class="quick-view-info-description">{{ product.product_desc }}</p>

            <div class="quick-view-info-option">
                <div class="quick-view-info-option-section">
                    <p>Color</p>
                    <select id="color">
                        <option value="">Choose an option</option>
                        {% for color in colors %}
                        <option value="{{ color }}">{{ color }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class="quick-view-info-option-section">
                    <p>Size</p>
                    <select id="size">
                        <option value="">Choose an option</option>
                        {% for size in sizes %}
                        <option value="{{ size }}">{{ size }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="quick-view-info-cart">
                <div class="quick-view-info-cart-quantity">
                    <button id="decrease" class="quick-view-info-cart-quantity-button">-</button>
                    <input type="number" id="quantity" value="1" readonly>
                    <button id="increase" class="quick-view-info-cart-quantity-button">+</button>
                </div>

                <button class="quick-view-info-cart-add-to-cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                    ADD TO CART
                </button>
            </div>

            <p class="quick-view-info-features">SKU: <span>{{ product.id }}</span></p>
            <p class="quick-view-info-features">Category: <span>{{ product.get_product_category_display }}</span></p>
        </div>
    </div>
</section>

{% endblock content %}
