{% extends "base.html" %}
{% block title %} Wear Vault | Quick View {% endblock title %}
{% block content %}
{% load static %}

<section id="quick-view">
    <div class="quick-view">
        <div class="quick-view-images">
            <div class="quick-view-images-top">
                <img id="imagepr{{product.id}}" src="/media/{{ product.product_image_1 }}" alt="{{ product.product_name }}">
                <img src="/media/{{ product.product_image_2 }}" alt="{{ product.product_name }}">
            </div>

            <div class="quick-view-images-bottom">
                <img src="/media/{{ product.product_image_3 }}" alt="{{ product.product_name }}">
                <img src="/media/{{ product.product_image_4 }}" alt="{{ product.product_name }}">
                <img src="/media/{{ product.product_image_5 }}" alt="{{ product.product_name }}">
            </div>
        </div>

        <div class="quick-view-info">
            <h5 class="card-title mt-2" id="namepr{{product.id}}">{{product.product_name}}</h5>
            <h6 class="card-title mb-3">
                $ <span id="pricepr{{product.id}}">{{product.product_price}}</span>
            </h6>
            <p class="quick-view-info-description">{{ product.product_desc }}</p>

            <div class="quick-view-info-option">
                <div class="quick-view-info-option-section">
                    <p>Color</p>
                    <select id="color">
                        <option value="">Choose an option</option>
                        {% for color in colors %}
                        <option value="{{ color }}">{{ color }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class="quick-view-info-option-section">
                    <p>Size</p>
                    <select id="size">
                        <option value="">Choose an option</option>
                        {% for size in sizes %}
                        <option value="{{ size }}">{{ size }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="quick-view-info-cart">
                <div class="quick-view-info-cart-quantity">
                    <button id="decreasepr{{product.id}}" class="quick-view-info-cart-quantity-button"><span>-</span></button>
                    <input type="number" class="quantity" id="quantitypr{{product.id}}" value="1" min="1">
                    <button id="increasepr{{product.id}}" class="quick-view-info-cart-quantity-button"><span>+</span></button>
                </div>
                
                <span id="divpr{{product.id}}" class="divpr">
                    <button id="pr{{product.id}}" class="cart">
                      ADD TO CART <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </span>
            </div>

            <p class="quick-view-info-features">SKU: <span>{{ product.id }}</span></p>
            <p class="quick-view-info-features">Category: <span>{{ product.get_product_category_display }}</span></p>
        </div>
    </div>
</section>


{% endblock content %}
